<div class="container">

  <div class="card text-center mt-5 mb-5">
    <div class="card-body ">
      <h5 class="card-title ">Number of building</h5>
      <p class="card-text">uis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur.</p>
      <a href="#" class="btn btn-outline-dark">Back to dashboard</a>
    </div>

  </div>

    <div class="row">


        <%= @building.street %>
        <%= @building.building_number %>
        <%= @building.zip_code %>
        <%= @building.city %>
        <%= @building.estate_id %>

  </div>

</div>
