<div class="container mt-3 dashboard-panel border ">

  <h1 class="text-dark">Hello dear <%= current_user.email %></h1>

</div>

  <div class="wrapper mt-5">
    <div class="row">
      <% @estates.each do |estate| %>
        <div class="col-sm">
          <table class="table border-0">
            <th class="text-center border-0">
              <%= estate.name %>
            </th>
            <tr>
              <td class="text-center border-0">
                <div class="btn-group">
                  <%= link_to 'Show', dashboard_estate_path(estate.id), class: "btn btn-sm btn-success" %>


                  <%= button_to 'Archive', root_path, class: "btn btn-sm btn-danger ml-3" %>
                </div>
              </td>
            </tr>
              <td class="text-center border-0">
                <%= image_tag("estate.jpg", size: "200x200", class: "rounded mx-auto d-block", alt: "Estate") %>
              </td>
            </tr>
            <tr>
              <td>
              </td>
            </tr>
          </table>
        </div>
      <% end %>

    </div>
  </div>
