<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron mt-4 text-center">
        <h2>Hello lorem ipsum <b><%= current_user.email %></b> </h2>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
          cupidatat non proident, sunt in culpa qui officia deserunt mollit
          anim id est laborum....</p>
        <%= link_to 'Add a new estate', new_dashboard_estate_path, class: "btn btn-lg btn-outline-info mt-3" %>
      </div>
      <%= render "notification" %>      
    </div>
    
    <!-- if current_user = admin show Estate.all -->
    <!-- in current_user != admin ahow current_user.apartment -->
    <!-- if admin?(@user) -->
    <% if true %>
      <%= render "estates_all" %>
    <% else %>
      <%= render "my_apartments" %>
    <% end %>
    <!-- end show this if current_user = admin -->
  </div>
</div>
