<div class="container mt-3 dashboard-panel border ">
  <h1 class="text-dark">Hello dear <%= @user.email %></h1>

</div>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Estate</th>
      <th scope="col">Building</th>
      <th scope="col">Apartment</th>
      <th scope="col">Owner</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @estates.each do |estate| %>
    <tr>
      <th scope="row">1</th>
      <td><%= estate.name %></td>
      <td><%= estate.name %></td>
      <td><%= estate.name %></td>
      <td><%= estate.name %></td>
      <td><%= estate.name %></td>


      <td><%= link_to 'Show', root_path, class: "btn btn-sm btn-succes" %></td>
    </tr>

    <ul>
      <li><%= estate.name %></li>
      <% estate.buildings.each do |building| %>
      <ul>
        <li><%= building.building_number %></li>
        <% building.apartments.each do |apartment| %>
        <ul>
          <li><%= apartment.apartment_number %></li>
          <% apartment.users.each do |user| %>
          <ul>
            <li><%= user.email %></li>
          </ul>
          <% end %>
        </ul>
        <% end %>
      </ul>
      <% end %>
    </ul>


    <% end %>
  </tbody>
</table>
