<div class="container">

  <div class="card text-center mt-5 mb-5">
    <div class="card-body ">
      <h5 class="card-title "> <%= @building.building_number%></h5>
      <p class="card-text">uis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur.</p>
      <a href="#" class="btn btn-outline-dark">Back to dashboard</a>
    </div>

  </div>

    <div class="row">


        <% @estate.buildings.each do |building| %>
        <td><%= building.building_number %></td>
          <div class="col-md-3">
          <div class="card mb-4" >
            <div class="card-body">
              <h5 class="card-title">Budynek nr <%= building.building_number %></h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">
                  <%= link_to 'Details', root_path, class: "btn btn-outline-info mt-2" %>
                  <%= link_to 'Archive', root_path, class: "btn btn-xs btn-outline-danger  mt-2 " %>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <% end %>



  </div>

</div>
