<div class="container">

  <div class="card text-center mt-5 mb-5">
    <div class="card-body ">
      <h5 class="card-title "> Apartment number <%= @apartment.apartment_number %> </h5>
      <p class="card-text">uis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur.</p>
        <%= link_to 'Back to dashboard', dashboard_path, class: "btn btn-outline-dark" %>
    </div>

  </div>

    <div class="row">

<% @anotifications.each do |a|%>
      <div class="card text-center">
        <div class="card card-header text-white bg-info mb-3">
           Apartment Notification
        </div>
        <div class="card-body ">
          <h5 class="card-title "> <%= a.title %> </h5>
          <p class="card-text"> <%= a.body %> </p>
          <!-- button for admin user -->
        </div>
        <div class="card-footer text-muted">
          Created at: <%= a.created_at.time.to_date %> Valid to: <%= a.valid_up_to_date %>
        </div>
      </div>
<% end %>



  </div>

</div>
