<!DOCTYPE html>
<html>
  <head>
    <title>Application for managing estate's community</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar navbar-expand-lg navbar-light bg-light">
        <%= link_to('Alternatives 4', dashboard_path, class: "navbar-brand", method: :delete) %>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-masthead justify-content-center" id="navbarNav">
          <ul class="navbar-nav">

            <li class="<%= 'active' if current_page?(root_path) %>">
               <%= link_to dashboard_path, class: "nav-link" do %> Dashboard
                 <%= (content_tag :span, "(current)", :class => "sr-only") if current_page?(dashboard_path) %>
               <% end %>
            </li>


            <li class="nav-item active">
              <%= link_to anotifications_path, class: "nav-link" do %> Notification
              <%= (content_tag :span, "(current)", :class => "sr-only") if current_page?(anotifications_path) %>
            </li>
            <% end %>

            <% if user_signed_in? %>
              <li class="nav-link">
              <%= link_to('Logout', destroy_user_session_path, class: "btn btn-sm btn-secondary", method: :delete) %>
              </li>
            <% else %>
              <li class="nav-link">
              <%= link_to('Login', new_user_session_path, class: "btn btn-sm btn-secondary")  %>
              </li>
            <% end %>

          </ul>
        </div>
      </nav>
        <%= yield %>
        <%= render 'cookies_eu/consent_banner' %>
      </div>
  </body>
</html>
